<h1>Editing <%= current_user.username %>'s <%= @loadout.title %></h1>
<form action="/loadouts/<%= @loadout.id %>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="title">Type of Loadout*</label>
    <input type="text" class="form-control" id="title" name="title" value="<%= @loadout.title %>" required>
  </div>
  
 <div class="form-group">
    <label for="description">Description *</label>
    <input type="text" class="form-control" id="description" name="description" value="<%= @loadout.description %>" required>
 </div>
 <div class="form-group">
<label for="character_class">Character Class *</label>
<input type="text" class="form-control" id="character_class" name="character_class" value="<%= @loadout.character_class %>" required>
</div>
 <div class="form-group">
    <label for="primary">Primary *</label>
    <input type="text" class="form-control" id="primary" name="primary" value="<%= @loadout.primary %>" required>
 </div>
  <div class="form-group">
    <label for="secondary">Secondary *</label>
    <input type="text" class="form-control" id="secondary" name="secondary" value="<%= @loadout.secondary %>" required>
 </div>
 <div class="form-group">
 <label for="heavy">Heavy *</label>
 <input type="text" class="form-control" id="heavy" name="heavy" value="<%= @loadout.heavy %>" required>
</div>
  <br><br>
<button type="submit" class="btn btn-primary" style="margin-bottom: 20px">Save Your Changes</button>
  </form>

