<div class="jumbotron">
<h1 class="display-3"><%= @loadout.type %></h1>
<p class="lead"><strong>Description: </strong> <%=@loadout.description%></p>
<hr class="my-4">
<p>Character Details</p>
<ul>
  <li><%=@loadout.character_class%></li>
  <li><%=@loadout.primary%></li>
  <li><%=@loadout.secondary%></li>
  <li><%=@loadout.heavy%></li>
</ul>